@import '~bootstrap/dist/css/bootstrap.css';

*{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.new{
    background-color: #00CAA4;
    padding: 0px;
}

.navbar{
    padding: 0px;
    border: 2px solid #00CAA4 ;
    border-radius: 4px;
    height: 100px;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3em;
}
nav:hover{
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-image: linear-gradient(to bottom, lightblue , blue);
}