*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    max-width: 1070px;
    margin: auto;
    width: 100%; 
    background-color:#34495E;
    color:#FDFEFE ; 
    font-weight: 400;
    letter-spacing: 0.5px;
    transition: all ease 0.3s;
    border-radius: 8%;
    width: 550px;
    height: 300px;
    margin-top: 15px;
    font-size: 25px;
}
.new{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.7em;
    padding-top: 30px;
    font-family: sans-serif;
}
.content:hover{
    box-shadow: 10px 10px 10px #888888;
}